/*   The styles for the showRedirect1.xul child window.    */


/* ************ Style for the WeCare Slide Bar *********** */
#sliderDiv{
	position:fixed !important;
	top:0px !important;
	left:0px !important;
	margin-top:0 !important;
	width:100% !important;
	background-color:#E4FFE0 !important;
	text-align:center !important;
	vertical-align:middle !important;
	max-height:65px !important;
	border-bottom:1px solid black !important;
	vertical-align:middle !important;
	z-index:100001 !important;
	line-height:14px !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font: 12px/1.231 arial,helvetica,clean,sans-serif !important;
}

.divGlobalAddonWeCare strong,b{
	font-weight:bolder !important;
}

div.contentAddonWeCare{
	position:relative !important;
	width:100% !important;
	text-align:center !important;
	display:none;
	visibility:hidden;
	vertical-align:middle !important;
	height:65px !important;
	color:black !important;
	font-size:12px !important;
}



div.contentAddonWeCare .logoCauseWeCare{
	position:absolute;
	top:0px;
	left:0px;
	width:120px !important;
	vertical-align:middle !important;
	background-color:white !important;
	height:64px;
	/*border-bottom:1px solid black;*/
}
div.logoCauseWeCare img{
	border:none !important;
	vertical-align:middle !important;
	margin-top:0px;
	padding-top:0px !important;
}
div.contentAddonWeCare #textContent{
	position:relative !important;
	text-align:center !important;
	padding-left:130px !important;
	padding-top:13px !important;
	padding-bottom:2px !important;
	vertical-align:middle !important;
	height:65px !important;
}
div#imgDonate{
	/*position:relative;
	float:right;*/
	position:absolute !important;
	right:210px !important;
	top:13px !important;
}
div#imgDonate img{
	border:none !important;
	vertical-align:middle !important;
}
div.contentAddonWeCare #linksRight{
	position:absolute !important; 
	top:0px !important;
	right:0px !important;
	width:190px !important;
	height:65px !important;
	text-align:left !important;
	text-decoration:underline !important;
	padding-top:5px !important;
	padding-left:15px !important;
	line-height:120% !important;
	color:black !important;
	text-transform:none !important;
	font-weight:normal !important;
	font-size:12px !important;
	line-height:14px !important;
}

div#linksRight a{
	font-size:12px !important;
	color:black !important;
	text-transform:none !important;
	font-weight:normal !important;
	line-height:14px !important;
}

div#linksRight a:link{
	font-size:12px !important;
	color:black !important;
	text-transform:none !important;
	font-weight:normal !important;
	line-height:14px !important;
}

div#linksRight a:visited{
	color:black !important;
	font-size:12px !important;
	text-transform:none !important;
	font-weight:normal !important;
	line-height:14px !important;
}



div.contentAddonWeCare #closeImg, #closeImg a img{
	position:absolute !important;
	top:0px !important;
	right:0px !important;
	padding:3px!important;
	border:none !important;
}
